RTUnit/Connected Services/RTUnitServiceReference/RTUnitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RTUnitService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64310/RTUnitService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64310/RTUnitService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64310/RTUnitService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCore" />
      <xsd:import schemaLocation="http://localhost:64310/RTUnitService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRTUnitService_AddUnit_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUnit" />
  </wsdl:message>
  <wsdl:message name="IRTUnitService_AddUnit_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUnitResponse" />
  </wsdl:message>
  <wsdl:message name="IRTUnitService_WriteValue_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteValue" />
  </wsdl:message>
  <wsdl:portType name="IRTUnitService">
    <wsdl:operation name="AddUnit">
      <wsdl:input wsaw:Action="http://tempuri.org/IRTUnitService/AddUnit" message="tns:IRTUnitService_AddUnit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRTUnitService/AddUnitResponse" message="tns:IRTUnitService_AddUnit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IRTUnitService/WriteValue" message="tns:IRTUnitService_WriteValue_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRTUnitService" type="tns:IRTUnitService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUnit">
      <soap:operation soapAction="http://tempuri.org/IRTUnitService/AddUnit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteValue">
      <soap:operation soapAction="http://tempuri.org/IRTUnitService/WriteValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RTUnitService">
    <wsdl:port name="BasicHttpBinding_IRTUnitService" binding="tns:BasicHttpBinding_IRTUnitService">
      <soap:address location="http://localhost:64310/RTUnitService.svc/RTUnits" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>