RTUnit/Connected Services/RTUnitServiceReference/RTUnitService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RTUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowerLimit" type="xs:double" />
      <xs:element minOccurs="0" name="UpperLimit" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RTUnit" nillable="true" type="tns:RTUnit" />
</xs:schema>