TrendingApp/Connected Services/TrendingServiceReference/TrendingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTagData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagData" nillable="true" type="tns:TagData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagData" nillable="true" type="tns:ArrayOfTagData" />
  <xs:complexType name="TagData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagData" nillable="true" type="tns:TagData" />
</xs:schema>