ReportManager/Connected Services/ServiceReference1/ReportService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64310/ReportService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScadaCore" />
  <xs:import schemaLocation="http://localhost:64310/ReportService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScadaCore" minOccurs="0" name="GetAllAlarmsResult" nillable="true" type="q1:ArrayOfAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsInTimePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsInTimePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScadaCore" minOccurs="0" name="GetAllAlarmsInTimePeriodResult" nillable="true" type="q2:ArrayOfAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsWithPriority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="priority" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmsWithPriorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScadaCore" minOccurs="0" name="GetAlarmsWithPriorityResult" nillable="true" type="q3:ArrayOfAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" minOccurs="0" name="GetAllTagValuesResult" nillable="true" type="q4:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagValuesInTimePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagValuesInTimePeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" minOccurs="0" name="GetAllTagValuesInTimePeriodResult" nillable="true" type="q5:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestAITagsValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestAITagsValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" minOccurs="0" name="GetLatestAITagsValuesResult" nillable="true" type="q6:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestDITagsValues">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestDITagsValuesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" minOccurs="0" name="GetLatestDITagsValuesResult" nillable="true" type="q7:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestValueAmongAllAITags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestValueAmongAllAITagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" minOccurs="0" name="GetLatestValueAmongAllAITagsResult" nillable="true" type="q8:TagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestValueAmongAllDITags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestValueAmongAllDITagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" minOccurs="0" name="GetLatestValueAmongAllDITagsResult" nillable="true" type="q9:TagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllValuesForTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllValuesForTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" minOccurs="0" name="GetAllValuesForTagResult" nillable="true" type="q10:ArrayOfTagValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>