ReportManager/Connected Services/ServiceReference1/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScadaCore.Tags.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTagValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagValue" nillable="true" type="tns:TagValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagValue" nillable="true" type="tns:ArrayOfTagValue" />
  <xs:complexType name="TagValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="TagId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagValue" nillable="true" type="tns:TagValue" />
</xs:schema>